<h1><%= @artist.name %></h1>
<h4>Name: <%= @song.name %></h4>
<br />
<%= link_to 'Edit', edit_song_path(@artist) %> |
<%= link_to 'Delete Song', [@artist, @song], method: :delete %> |
<%= link_to 'Back To Song', artist_songs_path(@artist) %>
